[package]
name = "netabase_helper_macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"
toml = "0.8"
serde = { version = "1.0", features = ["derive"] }
